@font-face {
  font-family: Pixel;
  src: local("Courier New");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0b1020;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* when game starts */
body.game-active {
  display: block;
}

.screen {
  text-align: center;
  color: white;
}

.hidden {
  display: none;
}

.pixel {
  font-family: Pixel, monospace;
  letter-spacing: 2px;
}

.big {
  font-size: 64px;
}

.small {
  font-size: 18px;
}

.name {
  font-size: 22px;
  margin-bottom: 12px;
}

/* BUTTON */
.pixel-btn {
  font-family: Pixel, monospace;
  font-size: 28px;
  padding: 12px 40px;
  background: #1e2a5a;
  color: white;
  border: 4px solid white;
  cursor: pointer;
  margin: 20px 0;
}

.pixel-btn:hover {
  background: #3046a8;
}

/* CONTROLS */
.controls {
  margin-top: 30px;
}

/* SELECT LAYOUT */
.select-row {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 50px;
}

.select-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PIXEL BOX */
.pixel-box {
  width: 160px;
  height: 200px;
  border: 4px solid white;
  background: #1a234d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pixel-box:hover {
  background: #3046a8;
  transform: scale(1.05);
}

/* FULLSCREEN CANVAS */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
}
